# Dependencies
node_modules/

# Build output
dist/

# Coverage
coverage/

# Logs
logs/
*.log

# Database
*.db

# TypeScript
*.tsbuildinfo

# Environment variables
.env
.env.*.local

# IDE / Editor
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS
.DS_Store
Thumbs.db